* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --padding-global: 64px;
    --width-img: calc((100vw - var(--padding-global)) / 3 - var(--gap) * 2);
    --height-img: 0px;
    --gap: 32px;
    --width-max: 1920px
}
body {
    padding: 32px var(--padding-global);
}
h1 {
    text-align: center;
    margin-bottom: 32px
}
#picsum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--gap);
    max-width: var(--width-max)
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: var(--width-img);
    max-width: calc(var(--width-max) / 3 - var(--gap) * 2);
    gap: calc(var(--gap) / 2)
    /* height: var(--height-img); */
}
img {
    border-radius: 8px;
}
h2 {
    margin: 0 auto;
}
button {
    color: white;
    background-color: rgb(216, 22, 223);
    width: fit-content;
    margin: 0 auto;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
}